.About {
  height: 100vh;
  background-color: #9B5E45;
  background-image: url(../images/cardboardTexture.jpg);
  background-size: cover;
  padding: 10px;
}

.About h1 {
  font-size: 10vw;
  margin-bottom: 0;
}

.About-card {
  height: 100%;
  margin: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-card img {
  width: 35vw;
}

.About-text {
  height: 100%;
  float: left;
  margin: 20px;
}

.About-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.About-socials img {
  margin-right: 50px;
  width: 6vw;
}

@media (max-width: 600px) {
  .About {
    color: white;
  }

  .About h1 {
    font-size: 8vh;
    margin: auto;
    margin-top: 5vh;
  }

  .About h2 {
    font-size: 3vh;
    margin: auto;
    margin-top: 3vh;
  }

  .About-socials {
    margin-top: 3vh;
  }

  .About-socials a {
    font-size: 5vh;
    color: white;
  }
}
