.About {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #9B5E45;
  background-image: url(../images/cardboardTexture.jpg);
  background-size: cover;
  padding: 10px;

  h1 {
    font-size: 10vw;
    margin-bottom: 0;
  }

  h2 {
    font-family: 'Pangolin', sans-serif;
    font-size: 3vw;
  }
}

.About-card {
  height: 100%;
  margin: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 35vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.About-text {
  height: 100%;
  float: left;
  margin: 20px;
}

.About-socials {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 50px;
    width: 6vw;
    transition: width 0.3s;
  }
  img:hover {
    width: 6.5vw;
    transition: width 0.3s;
  }
}

@media (max-width: 600px) {
  .About {
    h1 {
      font-size: 8vh;
      margin: auto;
      margin-top: 5vh;
    }

    h2 {
      font-size: 3vh;
      margin: auto;
      margin-top: 3vh;
    }
  }

  .About-card {
    float: none;

    img {
      width: 35vh;
    }
  }

  .About-text {
    float: none;
  }

  .About-socials {
    margin-top: 3vh;

    img {
      width: 6vh;
      transition: width 0.3s;
    }
    img:hover {
      width: 6.5vh;
      transition: width 0.3s;
    }
  }
}
