.AfterDark {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;
  background-color: black;
  overflow-x: hidden;

  .back-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
  }
}

.AfterDark-header {
  background-image: url('../images/NightHeader_grass-left.png'), 
                    url('../images/NightHeader_grass-right.png'), 
                    url('../images/NightHeader_sky.png');
  background-size: contain, contain, cover;
  background-attachment: local, local, fixed;
  background-size: 30vh, 30vh, auto;
  background-position: bottom left, bottom right, bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: #1e527c;

  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 0;

  h1 {
    margin: auto;
    text-align: center;
    font-size: 12vw;
  }
}

.AfterDark-images {
  background-image: url('../images/cardboard/NightCardboard.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;

  img {
    position: relative;
    width: 25vw;
    padding: 10px;
    cursor: pointer;
    transition: width 0.3s;
    z-index: 1;
  }
  img:hover {
    width: 25.5vw;
    transition: width 0.3s;
  }
}

@media (max-width: 600px) {
  .AfterDark-header {
    height: 20vh;
    background-size: 20vh, 20vh, auto;
  }

  .AfterDark-images {
    img {
    width: 20vh;
    transition: width 0.3s;
    }
    img:hover {
      width: 20.5vh;
      transition: width 0.3s;
    }
}
}