.Animation {
  height: fit-content;
  min-height: 100vh;
  background-color: #001;
  background-image: url(../images/warmCardboard.jpg);
  background-size: contain;
  text-align: center;

  h1 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.animation-card-group {
  padding-bottom: 2em;
}

.animation-card {
  img {
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    transition: width 0.3s;
  }
  img:hover {
    width: 51%;
    transition: width 0.3s;
  }

  h2 {
    margin-bottom: 0;
    font-size: 2.5em;
  }
}

.animation-content {
  svg {
    position: absolute;
    top: 3%;
    left: 0;
    color: white;
    font-size: 5vw;
    cursor: pointer;
  }

  iframe {
    width: 90vw;
    height: calc(90vw * 0.4145);
  }
}

.animation-description {
  width: 90vw;
  margin: auto;
  background-color: black;
  color: white;

  h2 {
    margin: 0;
    font-size: 2.5em;
  }
  
  p {
    text-align: left;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .Animation h1 {
    font-size: 15vw;
  }

  .animation-card {
    img {
      width: 70%;
    }
    img:hover {
      width: 71%;
    }

    h2 {
      font-size: 1.7em;
    }
  }

  .animation-content {
    svg {
      font-size: 2em;
    }
  }
}