.Animation {
  height: fit-content;
  min-height: 100vh;
  background-color: #001;
  color: white;
  text-align: center;

  h1 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.animation-content {
  width: 100vw;
  column-count: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;

  svg {
    cursor: pointer;
    font-size: 10vw;
  }
}

.animation-video iframe {
  width: 90vw;
  height: calc(90vw * 0.4145);
}

.animation-description {
  padding: 10px;
  margin: 0px 30px;
  
  p {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .Animation h1 {
    font-size: 15vw;
  }
}