.Animation {
  height: max(100vh, fit-content);
  min-height: 100vh;
  padding: 10px;
  background-color: darkslateblue;
  color: white;
  text-align: center;
}

.Animation h1 {
  margin: 0;
  margin-bottom: 10px;
}

.animation-content {
  width: 90%;
  column-count: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-video iframe {
  width: 50vw;
  height: 33.88vw;
}

.animation-thumbnails {
  display: flex;
  flex-direction: column;
}
.animation-thumbnails img {
  width: 20vw;
  padding: 10px;
  cursor: pointer;
  transition: width 0.3s;
}
.animation-thumbnails img:hover {
  width: 20.5vw;
  transition: width 0.3s;
}

@media (max-width: 600px) {
  .Animation h1 {
    font-size: 15vw;
  }

  .animation-content {
    display: block;
  }

  .animation-thumbnails {
    display: block;
  }
}