.Art {
  min-height: 100vh;
  padding: 10px;
  background-color: #C98373;
  background-image: url(../images/cardboardBox.jpg);
  background-size: contain;
  text-align: center;

  h1 {
    font-size: 8vw;
    margin-top: 10px;
    margin-bottom: 0;
  }

  section {
    margin-top: 20px;

    img {
      filter: drop-shadow(2px 2px 0 white) 
              drop-shadow(-2px 2px 0 white)
              drop-shadow(2px -2px 0 white) 
              drop-shadow(-2px -2px 0 white);
      -webkit-filter: drop-shadow(2px 2px 0 white) 
                      drop-shadow(-2px 2px 0 white)
                      drop-shadow(2px -2px 0 white) 
                      drop-shadow(-2px -2px 0 white);
      cursor: pointer;
      transition: width 0.3s;
    }
  }
}

.Art-tabs {
  .active {
    color: white;
  }

  button {
    font-size: 4vw;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    transition: color 0.3s;
  }
  button:hover {
    color: white;
  }

  b {
    font-size: 4vw;
  }
}

.Art-character {
  text-align: left;

  img {
    width: 20vw;
    margin: 20px;
  }
  img:hover {
    width: 20.5vw;
    transition: width 0.3s;
  }
}

.Art-comic {
  img {
    height: 100vh;
    margin: 10px;
    transition: height 0.3s;
  }
  img:hover {
    height: 100.5vh;
    transition: height 0.3s;
  }
}

.Art-painting {
  img {
    width: 25vw;
    padding: 20px;
  }
  img:hover {
    width: 25.5vw;
    transition: width 0.3s;
  }
}

@media (max-width: 600px) {
  .Art h1 {
    font-size: 8vh;
  }

  .Art-tabs {
    margin-top: 3vh;

    button {
      font-size: 2.5vh;
    }
  }

  .Art-character {
    img {
      width: 20vh;
      padding: 10px;
    }
    img:hover {
      width: 20.5vh;
    }
  }

  .Art-painting {
    img {
      width: 30vh;
    }
    img:hover {
      width: 30.5vh;
    }
  }
}