.Art {
  min-height: 100vh;
  padding: 10px;
  background-color: #C98373;
  background-image: url(../images/cardboardBox.jpg);
  background-size: contain;
  text-align: center;

  h1 {
    font-size: 8vw;
    margin-top: 10px;
    margin-bottom: 0;
  }

  section {
    margin-top: 20px;

    img {
      filter: drop-shadow(2px 2px 0 white) 
              drop-shadow(-2px 2px 0 white)
              drop-shadow(2px -2px 0 white) 
              drop-shadow(-2px -2px 0 white);
      -webkit-filter: drop-shadow(2px 2px 0 white) 
                      drop-shadow(-2px 2px 0 white)
                      drop-shadow(2px -2px 0 white) 
                      drop-shadow(-2px -2px 0 white);
      cursor: pointer;
      transition: width 0.3s;
    }
  }
}

.Art-tabs {
  .active {
    color: black;
    font-size: 4.5vw;
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

  button {
    font-size: 4vw;
    border-style: none;
    border-radius: 0.125em;
    box-decoration-break: clone;
    color: #555;
    cursor: pointer;
    background: linear-gradient( 
                100deg,
                rgba(255, 221, 64, 0) 0.9%,
                rgba(255, 221, 64, 1) 2.4%,
                rgba(255, 221, 64, 0.5) 5.8%,
                rgba(255, 221, 64, 0.1) 93%,
                rgba(255, 221, 64, 0.7) 96%,
                rgba(255, 221, 64, 0) 98%) 
                no-repeat right bottom / 0 var(--bg-h);
    --bg-h: 1em;
    transition: color 0.3s, font-size 0.3s, background-size 0.35s;
  }
  button:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  button:hover {
    font-size: 4.5vw;
    color: black;
  }

  b {
    font-size: 4vw;
  }
}

.Art-character {
  text-align: left;

  img {
    width: 20vw;
    margin: 20px;
  }
  img:hover {
    width: 20.5vw;
    transition: width 0.3s;
  }
}

.Art-comic {
  display: flex;
  justify-content: center;

  .Art-comic-container {
    width: 20vw;
    height: 20vw;
    margin: 10px;
    position: relative;
    float: left;
    border: solid white 4px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: width 0.3s, height 0.3s;

    b {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: transparent;
      transition: color 0.3s;
    }
  }
  .Art-comic-container:hover {
    width: 20.5vw;
    height: 20.5vw;
    transition: width 0.3s, height 0.3s;

    b {
      color: white;
      transition: color 0.3s;
    }
  }

  img {
    width: 20vw;
    opacity: 1;
    transition: width 0.3s, opacity 0.3s;
  }
  img:hover {
    width: 20.5vw;
    opacity: 0.7;
    transition: width 0.3s, opacity 0.3s;
  }
}

.Art-painting {
  img {
    width: 25vw;
    padding: 20px;
  }
  img:hover {
    width: 25.5vw;
    transition: width 0.3s;
  }
}

@media (max-width: 600px) {
  .Art h1 {
    font-size: 8vh;
  }

  .Art-tabs {
    margin-top: 3vh;

    button {
      font-size: 2.5vh;
    }
  }

  .Art-character {
    img {
      width: 20vh;
      padding: 5px;
      margin: 5px;
    }
    img:hover {
      width: 20.5vh;
    }
  }

  .Art-comic {
    .Art-comic-container {
      width: 30vh;
      height: 30vh;
    }
    .Art-comic-container:hover {
      width: 30.5vh;
      height: 30.5vh;
    }

    img {
      width: 30vh;
    }
    img:hover {
      width: 30.5vh;
    }
  }

  .Art-painting {
    img {
      width: 30vh;
    }
    img:hover {
      width: 30.5vh;
    }
  }
}