.Art-character {
  img {
    width: 20vw;
    margin: 20px;
    filter: drop-shadow(2px 2px 0 white) 
              drop-shadow(-2px 2px 0 white)
              drop-shadow(2px -2px 0 white) 
              drop-shadow(-2px -2px 0 white);
      -webkit-filter: drop-shadow(2px 2px 0 white) 
                      drop-shadow(-2px 2px 0 white)
                      drop-shadow(2px -2px 0 white) 
                      drop-shadow(-2px -2px 0 white);
  }
  img:hover {
    width: 20.5vw;
    transition: width 0.3s;
  }
}

.Art-comic {
  display: flex;
  justify-content: center;

  .Art-comic-container {
    width: 30vw;
    height: 30vw;
    margin: 10px;
    position: relative;
    border: solid white 4px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: width 0.3s, height 0.3s;

    b {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: transparent;
      pointer-events: none;
      transition: color 0.3s;
    }
  }
  
  .Art-comic-container:hover {
    width: 30.5vw;
    height: 30.5vw;
    transition: width 0.3s, height 0.3s;

    b {
      color: white;
      transition: color 0.3s;
    }
  }

  img {
    width: 30vw;
    opacity: 1;
    transition: width 0.3s, opacity 0.3s;
  }
  img:hover {
    width: 30.5vw;
    opacity: 0.7;
    transition: width 0.3s, opacity 0.3s;
  }
}

.Art-painting {
  img {
    width: 25vw;
    margin: 20px;
    border: white solid 4px;
    border-radius: 5px;
  }
  img:hover {
    width: 25.5vw;
    transition: width 0.3s;
  }
}

@media (max-width: 600px) {
  .Art-character {
    img {
      width: 20vh;
      padding: 5px;
      margin: 5px;
    }
    img:hover {
      width: 20.5vh;
    }
  }

  .Art-comic {
    .Art-comic-container {
      width: 30vh;
      height: 30vh;
    }
    .Art-comic-container:hover {
      width: 30.5vh;
      height: 30.5vh;
    }

    img {
      width: 30vh;
    }
    img:hover {
      width: 30.5vh;
    }
  }

  .Art-painting {
    img {
      width: 30vh;
    }
    img:hover {
      width: 30.5vh;
    }
  }
}