.Art-character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 20vw;
    margin: 20px;
    -webkit-filter: drop-shadow(2px 2px 0 white) 
                    drop-shadow(-2px 2px 0 white)
                    drop-shadow(2px -2px 0 white) 
                    drop-shadow(-2px -2px 0 white);
    filter: drop-shadow(2px 2px 0 white) 
              drop-shadow(-2px 2px 0 white)
              drop-shadow(2px -2px 0 white) 
              drop-shadow(-2px -2px 0 white);
    transition: filter 0.2s;
  }
  img:hover {
    -webkit-filter: drop-shadow(4px 4px 0 white) 
                    drop-shadow(-4px 4px 0 white)
                    drop-shadow(4px -4px 0 white) 
                    drop-shadow(-4px -4px 0 white);
    filter: drop-shadow(4px 4px 0 white) 
              drop-shadow(-4px 4px 0 white)
              drop-shadow(4px -4px 0 white) 
              drop-shadow(-4px -4px 0 white);
    transition: filter 0.2s;
  }
}

.Art-comic {
  display: flex;
  justify-content: center;

  .Art-comic-container {
    width: 30vw;
    height: 30vw;
    margin: 10px;
    position: relative;
    border: solid white 4px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s;

    b {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: transparent;
      pointer-events: none;
      transition: color 0.3s;
    }
  }
  
  .Art-comic-container:hover {
    border: solid white 6px;

    b {
      color: white;
      transition: color 0.3s;
    }

    transition: all 0.3s;
  }

  img {
    width: 30vw;
    opacity: 1;
    transition: width 0.3s, opacity 0.3s;
  }
  img:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
  }
}

.Art-painting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  img {
    width: 25vw;
    margin: 20px;
    border: white solid 4px;
    border-radius: 5px;
    transition: 0.3s;
  }
  img:hover {
    border: white solid 6px;
    transition: border 0.3s;
  }
}

@media (max-width: 600px) {
  .Art-character {
    img {
      width: 20vh;
      padding: 5px;
      margin: 5px;
    }
  }

  .Art-comic {
    .Art-comic-container {
      width: 30vh;
      height: 30vh;
    }

    img {
      width: 30vh;
    }
  }

  .Art-painting {
    img {
      width: 30vh;
    }
  }
}