.Landing {
  text-align: center;
  height: 100%;
}

.Landing-header {
  background-image: url('../images/dayHeader.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #282c34;

  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

  h1 {
    font-size: 8vw;
  }
}

.header-buttons {
  float: left;

  button {
    margin-right: 10px;
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  button:hover {
    font-size: 4.5vw;
    transition: font-size 0.3s;
  }

  img {
    height: 15vh;
    transition: height 0.3s;
  }
  img:hover {
    height: 15.5vh;
    transition: height 0.3s;
  }
}

@media (max-width: 600px) {
  .Landing {
    overflow-x: hidden;
    z-index: 0;
  }
  
  .Landing-header h1 {
    font-size: 8vh;
  }

  .header-buttons {

    button {
      font-size: 3vh;
      margin: 10px;
    }
    button:hover {
      font-size: 3.5vh;
    }

    img {
      height: 10vh;
    }
    img:hover {
      height: 10.5vh;
    }
  }
}