.Lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: black;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 5;
}

.Lightbox-other {
  height: 85vh;
  padding: 10px;
}

.Lightbox-comic {
  width: 100vw;
}

.Lightbox-close {
  color: white;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 5vw;
  cursor: pointer;
  z-index: 5;
}

.Lightbox-caption {
  color: white;
}

@media (max-width: 600px) {
  .Lightbox-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: unset;
    padding: 0;
  }

  .Lightbox-close {
    font-size: 5vh;
  }
}