.Navbar {
  color: black;
  position: absolute;
  z-index: 2;
}

.navbar-button {
  position: fixed;
  right: 0;
  color: black;
  font-size: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;

  svg {
    transition: all 0.2s linear;
    filter: drop-shadow(1px 1px 0 white) 
              drop-shadow(-1px 1px 0 white)
              drop-shadow(1px -1px 0 white) 
              drop-shadow(-1px -1px 0 white);
      -webkit-filter: drop-shadow(1px 1px 0 white) 
                      drop-shadow(-1px 1px 0 white)
                      drop-shadow(1px -1px 0 white) 
                      drop-shadow(-1px -1px 0 white);
  }
}

.active svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.navbar-content {
  width: 100vw;
  height: 11vw;
  position: fixed;
  right: 0;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  background-image: url(../images/RippedCardboard.png);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  z-index: 2;

  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, height 0.3s;

  a {
    text-decoration: none;
  }

  b {
    margin: 10px;
    padding: 5px;
    padding-bottom: 2px;
    background: linear-gradient(0deg, black, black) no-repeat right bottom / 0 var(--bg-h);
    border-radius: 15px;
    font-family: "Walter Turncoat";
    font-size: 4vw;
    line-height: 1;
    color: black;
    transition: background-size 350ms;
    --bg-h: 5px;
  }
  b:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  .active {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
}

.navbar-space {
  height: 100vh;
  width: 100vw;
  position: fixed;

  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.slide-in {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media (max-width: 600px) {
  .navbar-button {
    font-size: 6vh;
  }

  .navbar-content {
    display: flex;
    flex-direction: column;
    height: 45vh;

    b {
      font-size: 5vh;
      line-height: 1.5em;
    }
  }
}