.Navbar {
  color: black;
  position: absolute;
  z-index: 2;
}

.navbar-button {
  position: fixed;
  right: 0;
  color: black;
  font-size: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.navbar-button svg {
  transition: all 0.2s linear;
}

.active svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.navbar-content {
  width: 100vw;
  position: fixed;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  background-image: url(../images/cardboardPanel.jpg);
  background-position: top;
  background-size: cover;
  overflow: hidden;

  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.navbar-content a {
  text-decoration: none;
}

.navbar-content b {
  padding: 15px;
  color: black;
  font-size: 4vw;
  transition: color 0.3s;
}
.navbar-content b:hover {
  color: grey;
}

.slide-in {
  box-shadow: 0 10px 6px -6px #111;
  -webkit-box-shadow: 0 10px 6px -6px #111;

  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media (max-width: 600px) {
  .navbar-button {
    font-size: 6vh;
    color: white;
  }

  .navbar-content {
    width: 90vw;
    padding-top: 6vh;
  }

  .navbar-content b {
    font-size: 6vh;
  }
}
