.Sidebar {
  color: white;
  position: absolute;
  z-index: 1;
}

.sidebar-button {
  position: fixed;
  right: 0;
  color: black;
  font-size: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.sidebar-content {
  height: 100vh;
  position: fixed;
  right: 0;
  text-align: right;
  padding-top: 5vw;
  background-color: #93553C;
  overflow: hidden;

  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar-content a {
  text-decoration: none;
}

.sidebar-content b {
  padding: 15px;
  color: white;
  font-size: 4vw;
  transition: color 0.3s;
}
.sidebar-content b:hover {
  color: #E8B284;
}

.slide-in {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

@media (max-width: 600px) {
  .sidebar-button {
    font-size: 6vh;
    color: white;
  }

  .sidebar-content {
    width: 90vw;
    padding-top: 6vh;
  }

  .sidebar-content b {
    font-size: 6vh;
  }
}
